{% extends 'cuestionario/base.html' %}
{% load static %}
{% load filtros %}
{% block body %}
<style>
    .overlay {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 10px;
        right: -50px;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: rgba(235, 239, 242, 0.42);
    }

    .containers:hover .overlay {
        opacity: 1;
    }

    .icon {
        color: #000000;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .fa-check-circle{
        color: #0da357;
    }
</style>
<div class="row m-t-20">
    {% if object_area %}
    <div class="col-md-4 containers">
        <a href="{% url 'cuestionario' 0 'cuestionario-de-repaso-basico' 'basic' %}">
            <img src="{% static 'images/basico.jpg' %}" alt="Steven Boyd" width="97%">
        </a>
        <div class="card-box">
            <h5 class="title">
                <a href="{% url 'cuestionario' 0 'cuestionario-de-repaso-basico' 'basic' %}">Cuestionario general
                    {% if not disabled_all %}
                    <i class="fa fa-check-circle"></i>
                    {% endif %}
                </a>
            </h5>
        </div>
    </div>
    <div class="col-md-4 {% if disabled_all %} containers {% endif %}">
        <a href="{% url 'cuestionario' 0 'todas-las-areas-de-competencias-digitales' 'all' %}" >
            <img src="{% static 'images/competencia_digital.jpeg' %}" alt="Steven Boyd" width="100%">
        </a>
        <div class="card-box">
            <h5 class="title">
                <a href="{% url 'cuestionario' 0 'todas-las-areas-de-competencias-digitales' 'all' %}">Todas las áreas
                    de competencias digitales
                    {% if not disabled_area %}
                    <i class="fa fa-check-circle"></i>
                    {% endif %}
                </a>
            </h5>
        </div>
        {% if disabled_all %}
            <div class="overlay">
                <a href="javascript:void(0)" class="icon" title="User Profile">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        {% endif %}
    </div>
    {% for area in object_area %}
    <div class="col-md-4  {% if disabled_area %} containers {% endif %}">
        <a href="{% url 'cuestionario' area.pk area.nombAreaCompetencia|slugify area.pk %}">
            {% if area.image %}
            <img src="{{ area.image.url }}" alt="{{ area.nombAreaCompetencia }}" width="100%">
            {% else %}
            <img src="https://freebw.com/templates/smartedu/images/home2-course-1.jpg"
                 alt="{{ area.nombAreaCompetencia }}" width="100%">
            {% endif %}
        </a>
        <div class="card-box">
            <h5 class="title">
                <a href="{% url 'cuestionario' area.pk area.nombAreaCompetencia|slugify area.pk %}">Área.
                    {{area.nombAreaCompetencia}}
                    {% status_cuestionario area.pk request.user as area_status %}
                    {% if area_status %}
                    <i class="fa fa-check-circle"></i>
                    {% endif %}
                </a>
            </h5>
        </div>
        {% if disabled_area %}
            <div class="overlay">
                <a href="javascript:void(0)" class="icon" title="User Profile">
                    <i class="fa fa-lock"></i>
                </a>
            </div>
        {% endif %}

    </div>
    {% endfor %}

    {% endif %}
</div>
{% endblock %}
