{% extends 'cuestionario/base.html' %}
{% load static %}
{% block body %}
  <div class="row m-t-20">
    {% if object_area %}
      <div class="col-md-4">
        <a href="{% url 'cuestionario' 0 'todas-las-areas-de-competencias-digitales' 'all' %}">
          <img src="https://freebw.com/templates/smartedu/images/home2-course-1.jpg" alt="Steven Boyd" width="100%">
        </a>
        <div class="card-box">
          <h5 class="title">
            <a href="{% url 'cuestionario' 0 'todas-las-areas-de-competencias-digitales' 'all' %}">Todas las áreas de competencias digitales</a>
          </h5>
        </div>
      </div>
      {% for area in object_area %}
        <div class="col-md-4">
          <a href="{% url 'cuestionario' area.pk area.nombAreaCompetencia|slugify area.pk %}">
            <img src="https://freebw.com/templates/smartedu/images/home2-course-1.jpg" alt="Steven Boyd" width="100%">
          </a>
          <div class="card-box">
            <h5 class="title">
              <a href="{% url 'cuestionario' area.pk area.nombAreaCompetencia|slugify area.pk %}">Área.
                {{area.nombAreaCompetencia}}</a>
            </h5>
          </div>
        </div>
      {% endfor %}

    {% endif %}
  </div>
{% endblock %}
