{% load static %}
	</div>
	</center>
	<br>
	<footer>
		<hr class="hr-footer">
		<div class="footer">
			<div class="logo imagen-footer">
				<a href="index.html"><img src="{% static 'images/logoCompleto.jpg' %}"  alt="logo"></a>
			</div>
			<ul class="nav nav-tabs">
			  	<li role="presentation"><a href="{% url 'index' %}">Inicio</a></li>
			  	<li role="presentation"><a href="{% url 'informacion' %}">Información</a></li>
			  	<li role="presentation"><a href="{% url 'proposito' %}">Proposito</a></li>
			  	<li role="presentation"><a href="{% url 'contacto' %}">Contáctanos</a></li>
			</ul>
		</div>

		<div class="hr-bandera">
			<hr class="hr-amarillo">
			<hr class="hr-azul">
			<hr class="hr-rojo">
		</div>
	</footer>
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script src="{% static 'scripts/main.js' %}"></script>	
</body>	