{% load static %}
<footer>
		<hr class="linea_amarilla2">
		<div class="footer2">
			<div class="derechos2">
				<p><b>Copyright 2020.</b> Universidad Técnica Particular de Loja</p>		
			</div>	
		</div>
		
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{% static 'scripts/main.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>