{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Inicio</title>

	<!-- Inicio Navegador-->
	{% include 'comun/nav.html' %}
	<!-- Fin navegador-->
	<div class="img_index">
		<img id="img_index" src="{% static 'images/universidad.png' %}" alt="Competencias Digitales">
		<div class="txt_img">
			<div class="centrado">
				<h3>¿Qué es el DigComp 2.1?</h3>
				<hr>
				<p>Ante la necesidad crear un lenguaje común entre el mundo de la educación y el mercado de trabajo; y, con la finalidad de hacer frente a este problema, la Comisión Europea desarrolló y publicó en 2013 la primera versión de lo que ahora se conoce como el Marco de Competencia Digital Europeo para los ciudadanos o DigComp 2.1.</p>
				<p>DigComp 2.1 es un marco común de trabajo que comprende el desarrollo de la competencia digital de los ciudadanos, está basado en el modelo conceptual de referencia publicado en las versiones: 1.0 y 2.0. Esta última versión unifica y parametriza las competencias digitales agrupadas por áreas, también describe los criterios o requerimientos para establecer un nivel determinado de usabilidad para cada una de las competencias digitales. Además, cada competencia tiene diferentes indicadores para cumplir con cada uno de los 8 niveles de competencia; así como, ejemplos de uso aplicados al campo de aprendizaje y empleo.</p>
			</div>
		</div>
	</div>	
	<center>
	<div class="area">
		<div class="int row">
			<h2 class="titAreas col-md-12">Áreas de competencias digitales</h2>
			<div class="col-md-1"></div>
			<div class="espacio col-md-2">
				<a href="{% url 'informacion' %}" class="a_info"><img src="{% static 'images/informacion.png' %}" alt=""></a>
				<a href="{% url 'informacion' %}" class="a_txt"><h3>Información y alfabetización informacional</h3></a>
			</div>
			<div class="espacio col-md-2">
				<a href="{% url 'informacion' %}"><img src="{% static 'images/comunicacion.png' %}" alt=""></a>
				<a href="{% url 'informacion' %}" class="a_txt"><h3>Comunicación y colaboración</h3></a>
			</div>
			<div class="espacio col-md-2">
				<a href="{% url 'informacion' %}"><img src="{% static 'images/creacion.png' %}" alt=""></a>
				<a href="{% url 'informacion' %}" class="a_txt"><h3>Creación de contenidos digitales</h3></a>
			</div>
			<div class="espacio col-md-2">
				<a href="{% url 'informacion' %}"><img src="{% static 'images/seguridad.png' %}" alt=""></a>
				<a href="{% url 'informacion' %}" class="a_txt"><h3>Seguridad</h3></a>
			</div>
			<div class="espacio col-md-2">
				<a href="{% url 'informacion' %}"><img src="{% static 'images/resoluciones.png' %}" alt=""></a>
				<a href="{% url 'informacion' %}" class="a_txt"><h3>Resolución de problemas</h3></a>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>	
	<div class="color_competencia">
		<div class="competencia row">
			<div class="img_competencia col-md-5">
				<img src="{% static 'images/competencias.jpg' %}" alt="Imagen sobre competencias digitales">
			</div>
			<div class="txt_competencia col-md-7">
				<h3>¿Cuál es la importancia de las Competencias Digitales?</h3>
				<hr>
				<p><i>Para el Parlamento Europeo (2006)</i> la competencia digital es una de las ocho competencias clave para el aprendizaje permanente, o como dice Fraser et al. (2013) es una competencia básica para cualquier ciudadano del siglo XXI, y a criterio de <i>Ferrari (2012)</i> es un “derecho del ser humano” y para <i>Lázaro et al. (2018)</i> “es una competencia profesional imprescindible en una sociedad digital impregnada de tecnología en todos sus ámbitos” (p.1).</p>
				<p>Convencidos del enorme aporte que las competencias digitales tienen para realizar tareas; resolver problemas; acceder y  gestionar la información; potenciar la capacidad de comunicación; crear y compartir contenidos; favorecer la construcción del conocimiento de manera crítica, creativa; favorecer el aprendizaje, la socialización etc.; entonces tenemos que concluir que la competencia digital es clave y se necesita asumir el reto de que estudiantes, profesores y personal administrativo de las universidades sean digitalmente competentes, para poder desenvolverse de forma autónoma, con flexibilidad, de manera ética y reflexiva  en el aprendizaje, la docencia, la investigación y la vinculación con la sociedad.</p>
				<p>Es innegable que las tecnologías digitales hoy en día son fundamentales para la innovación, la creación de variados entornos de aprendizaje, dinamizar la  docencia, facilitar las gestiones académicas, la generación de nuevos empleos, entre otras actividades; por lo tanto, las instituciones universitarias deben diseñar estrategias adecuadas  para garantizar que sus estudiantes, profesores y administrativos tengan la formación y las competencias digitales necesarias, que les posibiliten desempeñarse eficientemente, tener una vida activa y satisfactoria, para aprender y trabajar en una sociedad digital.</p>
			</div>
		</div>
	</div>	
	</center>
	<!-- Inicio Footer -->
	{% include 'comun/footer.html' %}
	<!-- fin Footer -->
