{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Información sobre Competencias digitales</title>

	<!-- Inicio Navegador-->
	{% include 'comun/nav.html' %}
	<!-- Fin navegador-->

	<div class="row cont_info">
		<center>
			<h3>Informacion sobre las Areas y Competencias digitales</h3>
			<br>
		</center>
		
	 	{% include 'cont/cont_areas.html' %}
		{% include 'cont/cont_rtas.html' %}
	</div>

	<!-- Inicio Footer -->
	{% include 'comun/footer.html' %}
	<!-- fin Footer -->
