{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Información sobre Competencias digitales</title>

	<!-- Inicio Navegador-->
	{% include 'comun/nav.html' %}
	<!-- Fin navegador-->

	
		<center>
			<h3 class="tit_info">Información sobre las Áreas y Competencias digitales</h3>
			<br>
		</center>
	<div class="row cont_info">	
	 	{% include 'cont/cont_areas.html' %}
		{% include 'cont/cont_rtas.html' %}	
	</div>
<br>
	<!-- Inicio Footer -->
	{% include 'comun/footer.html' %}
	<!-- fin Footer -->
