{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Iniciar sesión</title>

	<!-- Inicio Navegador-->
	{% include 'comun/nav.html' %}
	<!-- Fin navegador-->
	<div class="img_login">
		<div class="login">
			<form class="form-horizontal">
				<div class="img_form col-sm-offset-1">
					<img src="{% static 'images/usuario.png' %}" alt="Imagen usuario" class="img-rounded">
				</div>
				{% csrf_token %}
				{{ UserLoginForm.as_p}}
			  	<div class="form-group">
			    	<div class="col-sm-offset-1 botones_login">
			      		<button type="submit" class="btn btn-warnin col-sm-6">Ingresar</button>
			      		<br><br>
			      		<a href="{% url 'registro' %}" class="cuenta col-sm-6">¿Aún no tienes cuenta?</a>
			   		</div>
			  	</div>
			</form>
		</div>
	</div>
	<br>
	<!-- Inicio Footer -->
	{% include 'comun/footer2.html' %}
	<!-- fin Footer -->