{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Propósito de la pagina web</title>

	<!-- Inicio Navegador-->
	{% include 'comun/nav.html' %}
	<!-- Fin navegador-->
	<center>
	<div class="cont_proposito">
			<div class="tit_proposito">
				<center><h3>Finalidad de la página web</h3></center>
				<p>La competencia digital que significa “el uso crítico y seguro de las tecnologías para el trabajo, el ocio y la comunicación” (Comunidad Europea, 2006), se ha convertido en una competencia básica y clave para cualquier ciudadano del siglo XXI (Fraser et al., 2013). De ahí la necesidad de que estudiantes, docentes y administrativos descubran las fortalezas y limitaciones en las competencias digitales que poseen, información que permitirá diseñar acciones formativas en función de sus necesidades reales.
				Esta página Web además de ofrecer información sobre las competencias digitales, se constituye en la puerta de ingreso al cuestionario que le posibilitará determinar el nivel alcanzado por usted en cada una de las competencias digitales y obtener el reporte correspondiente.
				</p>
			</div>
		<div class="titulos">
			<div class="tit1 row">
				<div class="col-md-7 cont_titulos">
					<h3>Propósito del cuestionario</h3>
					<hr>
					<p>Es un cuestionario diseñado para evaluar, a través de la autopercepción de cada participante, el nivel de apropiación y uso de las competencias digitales de estudiantes, profesores y personal administrativo de la UTPL, con miras a identificar las necesidades de capacitación en este ámbito, a fin de promover una adecuada incorporación de las TIC y así potenciar el desenvolvimiento académico y la gestión institucional. </p>
				</div>
				<div class="col-md-5 align-middle">
					<img src="{% static 'images/proposito.png' %}" alt="" class="img-circle prop_img">
				</div>
			</div>
			<div class="tit2 row">
				<div class="col-md-5 align-middle">
					<img src="{% static 'images/poblacion.jpg' %}" alt="" class="img-circle prop_img">
				</div>
				<div class="col-md-7 cont_titulos">
					<h3>Población a la que está dirigido el cuestionario</h3>
					<hr>
					<p>El presente cuestionario está dirigido a estudiantes, profesores y administrativos, que  forman parte de la comunidad universitaria de la UTPL.</p>
				</div>
			</div>
			<div class="tit3 row">
				<div class="col-md-7 cont_titulos">
					<h3>Tipo de instrumento</h3>
					<hr>
					<p>Es un cuestionario en línea, diseñado en función del Marco Común de Competencia Digital, propuesto por DIGCOMP 2.1, que contempla 21 competencias, agrupadas en torno a cinco áreas: Información, Comunicación, Creación de contenidos, Seguridad y Resolución de problemas. La prueba incluye 63 preguntas de opción múltiple (cuatro alternativas) con una sola respuesta válida.

					Los contenidos que explora el cuestionario se han seleccionado en función de lo medular de cada una de las 21 competencias, las mismas que han sido definidas, luego de un  intenso trabajo de expertos e investigadores europeos (2011-2013); también se desarrollaron los descriptores (2014 – 2016) y esta última versión 2.1 se la publica en 2017, después de ser debidamente consensuada y validada. 
					</p>
				</div>
				<div class="col-md-5 align-middle">
					<img src="{% static 'images/tipo_encuestas.jpg' %}" alt="" class="img-circle prop_img madic">
				</div>
				
			</div>
		</div>
	</div>
	</center>
	<!-- Inicio Footer -->
	{% include 'comun/footer.html' %}
	<!-- fin Footer -->
