{% load static %}
<!DOCTYPE html>

<html lang="es">
<head>
<meta charset="UTF-8">
<title>Registro de nuevos usuarios</title>

	<!-- Inicio Navegador-->
		{% include 'comun/nav.html' %}
	<!-- fin Navegador -->
	<div class="cont_crear">
		<form method="POST" class="col-sm-offset-2 form_usuario">
			<h3>Registro de usuarios</h3>
				{% csrf_token %}
				
				{% for field in user_form %}
				<div class="form-group">
			    <label for="{{ field.name }}">{{ field.label }}</label>
			    {{ field }}
					<br>
			    <small id="{{ field.name }}" class="form-text text-muted">{{ field.help_text }}</small>
					{{ field.errors }}
			  </div>
        		{% endfor %}
				{{ profile_form.as_p }}
				<button type="submit" class="btn btn-warnin">Crear usuario</button>
		</form>
	</div>
	<!-- Inicio Footer -->
	{% include 'comun/footer2.html' %}
	<!-- fin Footer -->
