{% load static %}
<!-- Competencia 1 del Area de competencias 1 -->
<div class="cierre" id="rta_comp1" style="display:none">
	<h3>1.1. Navegación, búsqueda y filtrado de datos, información y contenidos digitales.</h3>
	<img src="{% static 'images/seguridad.jpg' %}" alt="">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>	
	<div class="int_comp">
		<h4>Esta competencia digital pertenece al Area de: <br><br>1. Información y alfabetización informacional.</h4>
	</div>		
	<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
</div>
<!-- Competencia 2 del Area de competencias 1 -->
<div class="cierre" id="rta_comp2" style="display:none">
	<h3>1.2. Evaluación de datos, información y contenidos digitales.</h3>
	<img src="{% static 'images/seguridad.jpg' %}" alt="">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>	
	<div class="int_comp">
		<h4>Esta competencia digital pertenece al Area de: <br><br>1. Información y alfabetización informacional.</h4>
	</div>		
	<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
</div>
<!-- Competencia 3 del Area de competencias 1 -->
<div class="cierre" id="rta_comp3" style="display:none">
	<h3>1.3. Gestión de datos, información y contenidos digitales.</h3>
	<img src="{% static 'images/seguridad.jpg' %}" alt="">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>	
	<div class="int_comp">
		<h4>Esta competencia digital pertenece al Area de: <br><br>1. Información y alfabetización informacional.</h4>
	</div>		
	<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
</div>