{% load static %}
<div class="col-md-4 vl pad_cont_info">
	{% for area in object_list %}
		<div class="cont_area1">
			<div class="area{{ area.pk }}">
				<a href="#" id="area{{ area.pk }}">{{ forloop.counter }}. {{ area.nombAreaCompetencia }}</a>
			</div>
		</div>
	{% endfor %}
	<!--<div class="cont_area1">
		<div class="area1">
			<a href="#" id="area1">1. Información y alfabetización informacional.</a>
		</div>
	</div>
	<div class="cont_area2">
		<div class="area2">
			<a href="#" id="area2">2. Comunicación y colaboración.</a>
		</div>
	</div>
	<div class="cont_area3">
		<div class="area3">
			<a href="#" id="area3">3. Creación de contenidos digitales.</a><br>
		</div>
	</div>
	<div class="cont_area4">
		<div class="area4">
			<a href="#" id="area4">4. Seguridad.</a><br>
		</div>
	</div>
	<div class="cont_area5">
		<div class="area5">
			<a href="#" id="area5">5. Resolución de problemas.</a><br>
		</div>
	</div>-->			
</div>