{% load static %}
<div class="col-md-7 cont_rtas">
	<center>
		<!-- Area 1 -->
	<div class="cierre" id="rta_area1" style="display:none">
		<h3>1. Información y alfabetización informacional.</h3>
		<img src="{% static 'images/seguridad.jpg' %}" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>
		<div class="int_comp">
			<h4>Esta área cuenta con 3 competencias digitales especificas:</h4>
			1.1. Navegación, búsqueda y filtrado de datos, información y contenidos digitales.<br>
			<br>
			1.2. Evaluación de datos, información y contenidos digitales.<br>
			<br>
			1.3. Gestión de datos, información y contenidos digitales.<br>
		</div>	
		<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
	</div>
	<!-- Competencias del area 1. Información y alfabetización informacional. -->
	{% include 'cont/ar1_comp1.html' %}
		<!-- Area 2 -->
	<div class="cierre" id="rta_area2" style="display:none">
		<h3>2. Comunicación y colaboración.</h3>
		<img src="{% static 'images/seguridad.jpg' %}" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>
		<div class="int_comp">
			<h4>Esta área de competencias digitales cuenta con 6 competencias digitales especificas.</h4>
			<a href="#" id="alternar-respuesta-ej2"><b>2.1. </b>Interacción mediante tecnologías digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>2.2. </b>Difusión mediante tecnologías digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>2.3. </b>Participación ciudadana mediante tecnologías digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>2.4. </b>Colaboración mediante tecnologías digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>2.5. </b>Comportamiento en internet.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>2.6. </b>Gestión de la identidad digital.</a><br>
		</div>	
		<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
	</div>
		<!-- Area 3 -->
	<div class="cierre" id="rta_area3" style="display:none">
		<h3>3. Creación de contenidos digitales.</h3>
		<img src="{% static 'images/seguridad.jpg' %}" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>
		<div class="int_comp">
			<h4>Esta área de competencias digitales cuenta con 4 competencias digitales especificas.</h4>
			<a href="#" id="alternar-respuesta-ej2"><b>3.1. </b>Desarrollo de contenidos digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>3.2. </b>Integración y reelaboración de contenidos digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>3.3. </b>Derechos de autor y licencias.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>3.4. </b>Programación.</a><br>
		</div>	
		<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
	</div>
		<!-- Area 4 -->
	<div class="cierre" id="rta_area4" style="display:none">
		<h3>4. Seguridad.</h3>
		<img src="{% static 'images/seguridad.jpg' %}" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>
		<div class="int_comp">
			<h4>Esta área de competencias digitales cuenta con 4 competencias digitales especificas.</h4>
			<a href="#" id="alternar-respuesta-ej2"><b>4.1. </b>Protección de dispositivos.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>4.2. </b>Protección de datos personales y privacidad.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>4.3. </b>Protección de la salud y bienestar.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>4.4. </b>Protección del entorno.</a><br>
		</div>	
		<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
	</div>
		<!-- Area 5 -->
	<div class="cierre" id="rta_area5" style="display:none">
		<h3>5. Resolución de problemas.</h3>
		<img src="{% static 'images/seguridad.jpg' %}" alt="">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium architecto, reprehenderit quia delectus voluptatum illum eum deleniti dolorem incidunt in nisi nemo nostrum repellat sapiente, dolorum dicta officia esse? Ratione.</p>
		<div class="int_comp">
			<h4>Esta área de competencias digitales cuenta con 4 competencias digitales especificas.</h4>
			<a href="#" id="alternar-respuesta-ej2"><b>5.1.</b>Resolución de problemas técnicos.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>5.2.</b>Identificación de necesidades y soluciones tecnológicas.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>5.3.</b>Creatividad utilizando tecnologías digitales.</a><br>
			<br>
			<a href="#" id="alternar-respuesta-ej2"><b>5.4.</b>Identificación de carencias en la competencia digital.</a><br>
		</div>	
		<button type="button" class="btn btn-warning btn_area1">Aprender más</button>
	</div>
	</center>
</div>